@font-face { font-family: SF-Bold; src: url('./../fonts/SF-Compact-Rounded-Bold.otf'); }
@font-face { font-family: SF-Regular; src: url('./../fonts/SF-Compact-Rounded-Regular.otf'); }

html { height: 100%; }

body {
  font-family: SF-Regular;
  background-image: linear-gradient(to right, #fa57c1, #b166cc, #7572ff, #69a6f9);
  color: white;
  height: 100%;
}

/* Start of elements */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: SF-Bold;
}

a {
  text-decoration: underline;
  color: inherit;
}

img {
  width: 100%;
  height: auto;
}

/* Page content excluding footer */
.page-content {
  min-height: 100%;
  margin-bottom: -40px; /* Brings footer up */
}

#footer-container,
.page-content::after {
  height: 40px;
}
