@font-face { font-family: SF-Bold; src: url('/assets/fonts/SF-Compact-Rounded-Bold.otf'); }
@font-face { font-family: SF-Regular; src: url('/assets/fonts/SF-Compact-Rounded-Regular.otf'); }

body {
  padding: 50px 50px;
  font-family: SF-Regular;
  background-image: linear-gradient(to right, #fa57c1, #b166cc, #7572ff, #69a6f9);
  color: white;
}

/* Start of elements */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: SF-Bold;
}

hr {
  width: 67%;
  background-color: white;
  height: 3px;
  margin-bottom: 70px;
}

/* Tablet Adjustments */
@media (max-width: 768px) {
  body {
    padding: 25px;
  }
}

/* Mobile Adjustments */
@media (max-width: 425px) {
  body {
    padding: 10px;
  }
}
