/* Display Classes */
.hidden { display: none; }
.display-inline { display: inline; }

/* Border Classes */
.border-bottom { border-bottom: 1px solid white; }

/* Margin Classes */
.mb-1 { margin-bottom: 10px; }
.mb-2 { margin-bottom: 20px; }
.mr-1 { margin-right: 10px; }
.mr-2 { margin-right: 20px; }
.mr-7 { margin-right: 70px; }
.mt-1 { margin-top: 10px; }
.collapse-bottom { margin-bottom: 0; }

/* Text Classes */
.text-small { font-size: 10px; line-height: 0; }
.text-extra-small { font-size: 5px; line-height: 0; }
.text-center { text-align: center; }
.text-pink { color: #fa57c1; }
.text-dark-pink { color: #b166cc; }
.text-purple { color: #7572ff; }
.text-blue { color: #69a6f9; }
.text-gray { color: #8e8e8e; }

/* Background Classes */
.white-bg { background-color: #ffffff; }
.pink-bg { background-color: #fa57c1; }
.dark-pink-bg { background-color: #b166cc; }
.purple-bg { background-color: #7572ff; }
.blue-bg { background-color: #69a6f9; }
.how-to-copy-of-data-bg { background-image: url('./../images/how-to-copy-of-data.png'); }
.how-to-login-page-bg { background-image: url('./../images/how-to-login-page.png'); }
.how-to-manage-your-data-bg { background-image: url('./../images/how-to-manage-your-data.png'); }
.how-to-max-file-size-bg { background-image: url('./../images/how-to-max-file-size.png'); }
.get-started-bg { background-image: url('./../images/get-started-bg.svg'); }
.how-to-bg { background-image: url('./../images/how-to-bg.svg'); }
.check-demo-bg { background-image: url('./../images/check-demo-bg.svg'); }

.bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.bg-half {
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

/* Medium Adjustments */
@media (max-width: 991px) {
  .hide-on-tablet-down {
    display: none;
  }
}

@media (min-width: 991px) {
  .border-right-tablet-up {
    border-right: 1px solid rgb(128, 128, 128);
  }
}
