.nav {
  margin-bottom: 30px;
  border-bottom: 1px solid white;
  padding: 0;
}

.nav-title {
  margin-bottom: 12px;
}

.nav-subtitle {
  font-size: 12px;
  padding-top: 3px;
  float: right;
}

.hamburger {
  display: none;
  float: right;
  padding: 5px;
  margin-top: 15px;
}

.hamburger .hamburger-box .hamburger-inner,
.hamburger .hamburger-box .hamburger-inner:after,
.hamburger .hamburger-box .hamburger-inner:before {
  background-color: white;
}

/* Tablet Adjustments */
@media (max-width: 768px) {
  .nav-subtitle {
    display: none;
  }

  .hamburger {
    display: block;
  }
}
