.btn {
  padding: 10px;
  border-radius: 4px;
}

.btn-blue {
  background-color: #69a6f9;
  border: 1px solid #69a6f9;
  color: white;
}

.btn-pink {
  background-color: #fa57c1;
  border: 1px solid #fa57c1;
  color: white;
}

.btn-purple {
  background-color: #7572ff;
  border: 1px solid #7572ff;
  color: white;
}

.btn-dark-pink {
  background-color: #b166cc;
  border: 1px solid #b166cc;
  color: white;
}

.btn-back:hover {
  transform: translate(0, -1px);
  transition: all 0.25s;
  cursor: pointer;
}

