.nav-pills {
  display: flex;
  justify-content: center;
  flex-direction: row;
  text-align: center;
}

.nav-pills .active {
  background-color: #fa57c1;
}

.nav-item {
  list-style: none;
  display: inline;
  background-color: darkgray;
  padding: 5px;
  border-radius: 5px;
  font-weight: 800;
}

.nav-item:hover {
  cursor: pointer;
  background-color: #fdbbe6;
  transition: all 0.40s;
}
