.nav-pills {
  display: flex;
  justify-content: center;
  flex-direction: row;
  text-align: center;
}

.nav-pills .active {
  background-color: rgb(51, 51, 51);
}

.nav-item {
  list-style: none;
  display: inline;
  background-color: darkgray;
  padding: 8px;
  border-radius: 5px;
  font-weight: 800;
}

.nav-item:hover {
  cursor: pointer;
  background-color: rgb(91, 91, 91);
  transition: all 0.40s;
}

@media (max-width: 768px) {
  .nav-pills {
    margin: 0;
    display: block;
    text-align: left;
    padding: 0;
  }
}
