.option-card {
  background-color: rgb(97, 97, 97);
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  transition: all 0.25s;
  margin-bottom: 25px;
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.4);
}

.option-card:hover {
  transform: translate(0, -5px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.7);
}

.option-card-footer p {
  padding: 10px 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.option-card-image {
  height: 200px;
  margin-bottom: 30px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.emoji {
  font-size: 50px;
  margin: 0;
}
