.social-media-container { margin-top: 15px; }

.social-media-container i:hover {
  cursor: pointer;
  color: #fa57c1;
  transition: all 0.40s;
}

.hamburger {
  display: none;
  float: right;
  padding: 5px;
  margin-top: 15px;
}

.hamburger .hamburger-box .hamburger-inner,
.hamburger .hamburger-box .hamburger-inner:after,
.hamburger .hamburger-box .hamburger-inner:before {
  background-color: white;
}

.hamburger:active {
  background-color: red;
}

/* Tablet Adjustments */
@media (max-width: 768px) {
  .social-media-container { display: none; }
  .hamburger { display: block; }
}
